In [1]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
# connectionString = "dbname='project01' user='pgadmin@fintech-postgres' host='fintech-postgres.postgres.database.azure.com' password='CgYRz!)[4pfB' port='5432' sslmode='true'"
engine = create_engine(
    "postgresql://pgadmin@fintech-postgres:CgYRz!)[4pfB@fintech-postgres.postgres.database.azure.com:5432/project01")
query = "select * from portfolio;"
dfPortfolios = pd.read_sql(query, engine, index_col='portfolio_id')

In [2]:
dfPortfolios.head()

             portfolio_name
portfolio_id
1                      food
2             communication
3                 financial
4                     hedge
5                    pharma