In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
%matplotlib inline

# Regression Analysis: Seasonal Effects with Sklearn Linear Regression
In this notebook, you will build a SKLearn linear regression model to predict Yen futures ("settle") returns with *lagged* Yen futures returns.

In [46]:
# Futures contract on the Yen-dollar exchange rate:
# This is the continuous chain of the futures contracts that are 1 month to expiration
yen_futures = pd.read_csv(
    Path("yen.csv"), index_col="Date", infer_datetime_format=True, parse_dates=True
)
yen_futures.head()

,Open,High,Low,Last,Change,Settle,Volume,Previous Day Open Interest
Date,,,,,,,,
1976-08-02,3398.0,3401.0,3398.0,3401.0,NaN,3401.0,2.0,1.0
1976-08-03,3401.0,3401.0,3401.0,3401.0,NaN,3401.0,0.0,1.0
1976-08-04,3401.0,3401.0,3401.0,3401.0,NaN,3401.0,0.0,1.0
1976-08-05,3401.0,3401.0,3401.0,3401.0,NaN,3401.0,0.0,1.0
1976-08-06,3401.0,3401.0,3401.0,3401.0,NaN,3401.0,0.0,1.0

In [47]:
# Trim the dataset to begin on January 1st, 1990
yen_futures = yen_futures.loc["1990-01-01":, :]
yen_futures.head()

,Open,High,Low,Last,Change,Settle,Volume,Previous Day Open Interest
Date,,,,,,,,
1990-01-02,6954.0,6954.0,6835.0,6847.0,NaN,6847.0,48336.0,51473.0
1990-01-03,6877.0,6910.0,6865.0,6887.0,NaN,6887.0,38206.0,53860.0
1990-01-04,6937.0,7030.0,6924.0,7008.0,NaN,7008.0,49649.0,55699.0
1990-01-05,6952.0,6985.0,6942.0,6950.0,NaN,6950.0,29944.0,53111.0
1990-01-08,6936.0,6972.0,6936.0,6959.0,NaN,6959.0,19763.0,52072.0

# Data Preparation

### Returns

In [48]:
# Create a series using "Settle" price percentage returns, drop any nan"s, and check the results:
# (Make sure to multiply the pct_change() results by 100)
# In this case, you may have to replace inf, -inf values with np.nan"s
# YOUR CODE HERE!

returns = yen_futures.Settle.pct_change() * 100
yen_futures['Return'] = returns
yen_futures = yen_futures.replace(-np.inf, np.nan)
yen_futures = yen_futures.replace(-np.inf, np.nan).dropna()
yen_futures.head()

,Open,High,Low,Last,Change,Settle,Volume,Previous Day Open Interest,Return
Date,,,,,,,,,
2014-02-18,9831.0,9865.0,9734.0,9775.0,42.0,9775.0,203495.0,196924.0,-0.427829
2014-02-19,9768.0,9825.0,9760.0,9773.0,2.0,9773.0,129508.0,197197.0,-0.020460
2014-02-20,9774.0,9837.0,9765.0,9775.0,2.0,9775.0,160202.0,198280.0,0.020465
2014-02-21,9772.0,9776.0,9725.0,9758.0,20.0,9755.0,103091.0,202990.0,-0.204604
2014-02-24,9752.0,9789.0,9740.0,9757.0,2.0,9757.0,90654.0,203114.0,0.020502

### Lagged Returns

In [49]:
# Create a lagged return using the shift function
# YOUR CODE HERE!
yen_futures['Lagged_Return'] = yen_futures['Return'].shift()
yen_futures = yen_futures.dropna()
yen_futures.head()

,Open,High,Low,Last,Change,Settle,Volume,Previous Day Open Interest,Return,Lagged_Return
Date,,,,,,,,,,
2014-02-19,9768.0,9825.0,9760.0,9773.0,2.0,9773.0,129508.0,197197.0,-0.020460,-0.427829
2014-02-20,9774.0,9837.0,9765.0,9775.0,2.0,9775.0,160202.0,198280.0,0.020465,-0.020460
2014-02-21,9772.0,9776.0,9725.0,9758.0,20.0,9755.0,103091.0,202990.0,-0.204604,0.020465
2014-02-24,9752.0,9789.0,9740.0,9757.0,2.0,9757.0,90654.0,203114.0,0.020502,-0.204604
2014-02-25,9760.0,9808.0,9744.0,9789.0,32.0,9789.0,105498.0,201486.0,0.327970,0.020502

### Train Test Split

In [72]:
# Create a train/test split for the data using 2018-2019 for testing and the rest for training
train = yen_futures[:'2018']
test = yen_futures['2018':]

In [73]:
# Create four dataframes:
# X_train (training set using just the independent variables), X_test (test set of of just the independent variables)
# Y_train (training set using just the "y" variable, i.e., "Futures Return"), Y_test (test set of just the "y" variable):
# YOUR CODE HERE!
X_train = train.Lagged_Return.to_frame()
X_test = test.Lagged_Return.to_frame()
y_train = train.Return.to_frame()
y_test = test.Return.to_frame()

In [88]:
X_train

            Lagged_Return
Date
2014-02-19      -0.427829
2014-02-20      -0.020460
2014-02-21       0.020465
2014-02-24      -0.204604
2014-02-25       0.020502
2014-02-26       0.327970
2014-02-27      -0.296251
2014-02-28       0.389344
2014-03-03       0.275566
2014-03-04       0.346056
2014-03-06      -0.801298
2014-03-07      -0.766871
2014-03-10      -0.247295
2014-03-11       0.103295
2014-03-12       0.278609
2014-03-13       0.216094
2014-03-14       1.026799
2014-03-17       0.365891
2014-03-18      -0.405063
2014-03-19       0.203355
2014-03-20      -0.953831
2014-03-21       0.030735
2014-03-24       0.235559
2014-03-25      -0.020435
2014-03-26      -0.020439
2014-03-27       0.194214
2014-03-28      -0.112222
2014-03-31      -0.612808
2014-04-01      -0.400781
2014-04-02      -0.474618
...                   ...
2018-11-16      -0.113218
2018-11-19       0.663077
2018-11-20       0.253350
2018-11-21      -0.202168
2018-11-23      -0.309493
2018-11-26       0.208851
2018-11-27      -0.726638
2018-11-28      -0.130504
2018-11-29       0.215897
2018-11-30       0.062362
2018-12-03      -0.152975
2018-12-04      -0.079442
2018-12-05       0.766653
2018-12-06      -0.343778
2018-12-07       0.475033
2018-12-10      -0.005628
2018-12-11      -0.512214
2018-12-12      -0.175389
2018-12-13       0.153027
2018-12-14      -0.356516
2018-12-17       0.272603
2018-12-18       0.294517
2018-12-19       1.163316
2018-12-20       0.139556
2018-12-21       1.059145
2018-12-24      -0.187545
2018-12-26       0.834485
2018-12-27      -0.893346
2018-12-28       0.464525
2018-12-31       0.297242

[1218 rows x 1 columns]

# Linear Regression Model

In [75]:
# Create a Linear Regression model and fit it to the training data
from sklearn.linear_model import LinearRegression

# Fit a SKLearn linear regression using just the training set (X_train, Y_train):
# YOUR CODE HERE!
rgr = LinearRegression().fit(X_train, y_train)

# Make predictions using the Testing Data

Note: We want to evaluate the model using data that it has never seen before, in this case: X_test.

In [89]:
# Make a prediction of "y" values using just the test dataset
# YOUR CODE HERE!
y_preds = rgr.predict(X_test)

In [90]:
# Assemble actual y data (Y_test) with predicted y data (from just above) into two columns in a dataframe:
# YOUR CODE HERE!
Y_df = pd.DataFrame()
Y_df['y test'] = y_test['Return']
Y_df['y preds'] = y_preds
Y_df.head()

              y test   y preds
Date
2018-01-02  0.297285 -0.005887
2018-01-03 -0.240479 -0.006597
2018-01-04 -0.213028 -0.001325
2018-01-05 -0.353933 -0.001594
2018-01-08  0.062017 -0.000213

In [100]:
# Plot the first 20 predictions vs the true values
# YOUR CODE HERE!
import matplotlib.pyplot as plt

# Out-of-Sample Performance

Evaluate the model using "out-of-sample" data (X_test and y_test)

In [99]:
from sklearn.metrics import mean_squared_error
# Calculate the mean_squared_error (MSE) on actual versus predicted test "y" 
# YOUR CODE HERE!
mse = mean_squared_error(y_test, y_preds)

# Using that mean-squared-error, calculate the root-mean-squared error (RMSE):
# YOUR CODE HERE!
print(f"Out-of-Sample Root Mean Squared Error (RMSE): {np.sqrt(mse)}")

Out-of-Sample Root Mean Squared Error (RMSE): 0.41521675083603804

In [102]:
y_train.head()

              Return
Date
2014-02-19 -0.020460
2014-02-20  0.020465
2014-02-21 -0.204604
2014-02-24  0.020502
2014-02-25  0.327970

# In-Sample Performance

Evaluate the model using in-sample data (X_train and y_train)

In [105]:
# Construct a dataframe using just the "y" training data:
# YOUR CODE HERE!
in_sample_df = y_train.copy().rename({'Return': 'actual'}, axis='columns')

# Add a column of "in-sample" predictions to that dataframe:  
# YOUR CODE HERE!
in_sample_df['preds'] = rgr.predict(X_train)

# Calculate in-sample mean_squared_error (for comparison to out-of-sample)
# YOUR CODE HERE!
in_sample_mse = mean_squared_error(in_sample_df['actual'], in_sample_df['preds'])

# Calculate in-sample root mean_squared_error (for comparison to out-of-sample)
# YOUR CODE HERE!
print(f"In-sample Root Mean Squared Error (RMSE): {np.sqrt(in_sample_mse)}")

In-sample Root Mean Squared Error (RMSE): 0.5658708047560468

# Conclusions

YOUR CONCLUSIONS HERE!

The LR model performed moderately well on the test set of our Yen futures data. Our model did not, however, do as well making predictions on the training data. Although certainly more analysis could be done, this leads me to think that in general a model that performs well on the test data will not perform as well on the training data. If the model was overfit it might perform better on the training set.